@model TaldykNews.WebUI.Models.ViewModel.News.NewsListVM

<div class="container">
    <h2 class="text-center">Список всех новостей</h2>
    <table class="table">
        <tr>
            <th>Заголовок</th>
            <th><a asp-route-sortOrder="Author"></a>Автор</th>
            <th><a asp-route-sortOrder="Date">Дата</a></th>
            <th><a asp-route-sortOrder="Category">Категория</a></th>
            <th>Действия</th>
        </tr>
        @foreach (var item in Model.News)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Author.FullName</td>
                <td>@item.CreationDate</td>
                <td>@item.Category.Name</td>
                <td>
                    <ul>
                        <li><a asp-controller="News" asp-action="Upsert" asp-route-id="@item.Id">Изменить</a></li>
                        <li><a asp-controller="News" asp-action="Delete" asp-route-id="@item.Id">Удалить</a></li>
                    </ul>
                </td>
            </tr>
        }
    </table>
    <ul class="pagination">
        <li class="page-item"><a class="page-link" asp-route-page="@(Model.CurrentPage-1)">Предыдущая</a></li>
        @for (int i = 1; i <= Model.Pages; i++)
        {
            <li class="page-item"><a class="page-link" asp-route-page="@i">@i</a></li>
        }
        <li class="page-item"><a class="page-link" asp-route-page="@(Model.CurrentPage+1)">Следующая</a></li>
    </ul>
</div>